# Database
DATABASE_URL=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
# Auth
SUPABASE_JWT_SECRET=
# Sentry
SENTRY_DSN=

#web hook secert
WEBHOOK_SECRET =
DELETE_WEBHOOK_SECRET =
# Anthropic
ANTHROPIC_API_KEY=
# Resend
RESEND_API_KEY=



